/*!
 *
 *	Project:	GABUT
 *	Author:		Meongdev
 *	
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none
}

body,
html {
    margin: 0;
    padding: 0
}

a,
abbr,
acronym,
address,
blockquote,
button,
caption,
cite,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
label,
legend,
li,
ol,
p,
pre,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
    font-family: inherit
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:focus {
    outline: 0
}

a:active,
a:hover {
    outline: 0
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    -ms-interpolation-mode: bicubic
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

button,
input {
    line-height: normal
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation
}

.c:after {
    content: "";
    display: table;
    clear: both
}

html {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

*,
::after,
::before {
    box-sizing: inherit
}

body,
html {
    width: 100%;
    height: 100%
}

body {
    margin: 0;
    line-height: 1;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    font-family: Oswald, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased
}

a {
    color: #000;
    text-decoration: underline;
    text-decoration-skip: ink
}

a:hover {
    text-decoration: none
}

.glitch-typo,
.glitch-typo-second {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.glitch-typo-second:hover,
.glitch-typo:hover {
    text-decoration: none
}

.glitch-typo-second:hover:before,
.glitch-typo:hover:before {
    -webkit-animation: glitch-typo 2s .3s cubic-bezier(0, .82, 1, .42) both;
    animation: glitch-typo 2s .3s cubic-bezier(0, .82, 1, .42) both
}

.glitch-typo-second:hover:after,
.glitch-typo:hover:after {
    -webkit-animation: glitch-typo 2s .4s cubic-bezier(0, .82, 1, .42) reverse both;
    animation: glitch-typo 2s .4s cubic-bezier(0, .82, 1, .42) reverse both
}

.glitch-typo-second:hover span,
.glitch-typo:hover span {
    -webkit-animation: glitch-typo-scale .5s .1s ease-in-out;
    animation: glitch-typo-scale .5s .1s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1
}

.glitch-typo-second:after,
.glitch-typo-second:before,
.glitch-typo:after,
.glitch-typo:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.glitch-typo-second:before,
.glitch-typo:before {
    color: #45bbf1
}

.glitch-typo-second:after,
.glitch-typo:after {
    color: #ef00d8
}

.glitch-typo span,
.glitch-typo-second span {
    position: relative;
    display: inline-block;
    z-index: 2;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.glitch-typo-second:before {
    color: #6488dc
}

@-webkit-keyframes glitch-typo {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    18% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    20% {
        -webkit-transform: translate(-10px, 10px);
        transform: translate(-10px, 10px);
        opacity: .6
    }

    34% {
        -webkit-transform: translate(-16px, -10px);
        transform: translate(-16px, -10px);
        opacity: 0
    }

    55% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: .4
    }

    60% {
        -webkit-transform: translate(-10px, 10px);
        transform: translate(-10px, 10px);
        opacity: .8
    }

    64% {
        -webkit-transform: translate(10px, 0);
        transform: translate(10px, 0);
        opacity: .4
    }

    70% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }
}

@-webkit-keyframes glitch-typo-scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    70% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    90% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes glitch-typo {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    18% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    20% {
        -webkit-transform: translate(-10px, 10px);
        transform: translate(-10px, 10px);
        opacity: .6
    }

    34% {
        -webkit-transform: translate(-16px, -10px);
        transform: translate(-16px, -10px);
        opacity: 0
    }

    55% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: .4
    }

    60% {
        -webkit-transform: translate(-10px, 10px);
        transform: translate(-10px, 10px);
        opacity: .8
    }

    64% {
        -webkit-transform: translate(10px, 0);
        transform: translate(10px, 0);
        opacity: .4
    }

    70% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }
}

@keyframes glitch-typo-scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    70% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    90% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

#sound-af {
    position: absolute;
    left: -30px;
    top: -30px;
    width: 30px;
    height: 30px;
    visibility: hidden;
    z-index: 0
}

.sound-btn {
    position: fixed;
    right: 5px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/ico-sound-off.svg);
    background: url(../img/ico-sound-on.svg) left center no-repeat;
    background-size: auto 20px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 1111;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.sound-btn:hover {
    opacity: 1
}

.sound-btn.act {
    opacity: .6;
    visibility: visible
}

.sound-btn.act:hover {
    opacity: 1
}

.sound-btn.sound-btn-off {
    background-image: url(../img/ico-sound-off.svg)
}

.noise-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/noise.png) center center repeat;
    z-index: 1000;
    opacity: .8;
    pointer-events: none
}

.page {
    width: 100%;
    height: 100%
}

.in {
    position: relative;
    margin: 0 auto 0;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1280px;
    width: 100%
}

.in:after {
    content: "";
    display: table;
    clear: both
}

@media screen and (max-width:900px) {
    .in {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media screen and (max-width:750px) {
    .in {
        padding-left: 30px;
        padding-right: 30px
    }
}

.header-placeholder,
header {
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.header-placeholder {
    height: 6500px
}

@media screen and (max-width:1200px) {
    .header-placeholder {
        height: 4500px
    }
}

@media screen and (max-width:1000px) {
    .header-placeholder {
        height: 3500px
    }
}

@media screen and (max-width:800px) {
    .header-placeholder {
        height: 3000px
    }
}

@media screen and (max-width:600px) {
    .header-placeholder {
        height: 2500px
    }
}

@media screen and (max-width:1680px) and (orientation:landscape) {
    .header-placeholder {
        height: 5000px
    }
}

@media screen and (max-width:1260px) and (orientation:landscape) {
    .header-placeholder {
        height: 4500px
    }
}

@media screen and (max-width:1030px) and (orientation:landscape) {
    .header-placeholder {
        height: 3500px
    }
}

@media screen and (max-width:800px) and (orientation:landscape) {
    .header-placeholder {
        height: 3000px
    }
}

@media screen and (max-width:750px) and (orientation:landscape) {
    .header-placeholder {
        height: 2500px
    }
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #04010b;
    background: -webkit-linear-gradient(top, #04010b 0, #231872 100%);
    background: linear-gradient(to bottom, #04010b 0, #231872 100%);
    overflow: hidden;
    z-index: 5
}

header h1 {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -240px;
    width: 100%;
    height: 400px;
    opacity: 1;
    text-align: center;
    text-indent: -9999px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

header h1 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/moon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

header h1 .logo-1 {
    opacity: 1
}

header h1 .logo-2 {
    -webkit-filter: hue-rotate(60deg) saturate(4);
    filter: hue-rotate(60deg) saturate(4);
    -webkit-animation: glitch-logo 8s cubic-bezier(0, .82, 1, .42) reverse both infinite;
    animation: glitch-logo 8s cubic-bezier(0, .82, 1, .42) reverse both infinite
}

header h1 .logo-3 {
    -webkit-filter: hue-rotate(270deg) saturate(4);
    filter: hue-rotate(270deg) saturate(4);
    -webkit-animation: glitch-logo 10s cubic-bezier(0, .82, 1, .42) both infinite;
    animation: glitch-logo 10s cubic-bezier(0, .82, 1, .42) both infinite
}

@media screen and (max-width:1000px),
screen and (max-height:800px) {
    header h1 {
        margin-top: -190px;
        width: 100%;
        height: 300px
    }
}

@media screen and (max-width:800px),
screen and (max-height:700px) {
    header h1 {
        margin-top: -180px;
        width: 100%;
        height: 280px
    }
}

@media screen and (max-width:500px),
screen and (max-height:550px) {
    header h1 {
        margin-top: -150px;
        width: 100%;
        height: 220px
    }
}

@media screen and (max-width:460px),
screen and (max-height:500px) {
    header h1 {
        margin-top: -160px;
        width: 100%;
        height: 200px
    }
}

@media screen and (max-width:350px),
screen and (max-height:390px) {
    header h1 {
        margin-top: -150px;
        width: 100%;
        height: 180px
    }
}

@media screen and (max-width:290px),
screen and (max-height:340px) {
    header h1 {
        margin-top: -110px;
        width: 100%;
        height: 140px
    }
}

@media screen and (max-width:220px),
screen and (max-height:300px) {
    header h1 {
        margin-top: -100px;
        width: 100%;
        height: 120px
    }
}

.header-content {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -1000px;
    max-width: 2000px;
    width: 100%;
    height: 100%;
    visibility: hidden
}

@media screen and (max-width:2000px) {
    .header-content {
        left: 0;
        margin-left: 0;
        max-width: 100%
    }
}

@-webkit-keyframes glitch-logo {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    19% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    22% {
        -webkit-transform: translate(-10px, 10px) skew(-10deg, 0deg);
        transform: translate(-10px, 10px) skew(-10deg, 0deg);
        opacity: .4
    }

    26% {
        -webkit-transform: translate(-10px, -20px);
        transform: translate(-10px, -20px);
        opacity: 0
    }

    27% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    52% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    56% {
        -webkit-transform: translate(-10px, 10px) skew(10deg, 0deg);
        transform: translate(-10px, 10px) skew(10deg, 0deg);
        opacity: .8
    }

    57% {
        -webkit-transform: translate(20px, 0);
        transform: translate(20px, 0);
        opacity: .4
    }

    58% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }
}

@keyframes glitch-logo {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    19% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    22% {
        -webkit-transform: translate(-10px, 10px) skew(-10deg, 0deg);
        transform: translate(-10px, 10px) skew(-10deg, 0deg);
        opacity: .4
    }

    26% {
        -webkit-transform: translate(-10px, -20px);
        transform: translate(-10px, -20px);
        opacity: 0
    }

    27% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    52% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    56% {
        -webkit-transform: translate(-10px, 10px) skew(10deg, 0deg);
        transform: translate(-10px, 10px) skew(10deg, 0deg);
        opacity: .8
    }

    57% {
        -webkit-transform: translate(20px, 0);
        transform: translate(20px, 0);
        opacity: .4
    }

    58% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }
}

.shooting-stars {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateZ(24deg);
    -moz-transform: rotateZ(24deg);
    -ms-transform: rotateZ(24deg);
    -o-transform: rotateZ(24deg);
    transform: rotateZ(24deg)
}

.star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    border-radius: 999px;
    background: linear-gradient(-45deg, #fff, rgba(0, 0, 255, 0));
    -webkit-filter: drop-shadow(0 0 6px #fff);
    filter: drop-shadow(0 0 6px #fff);
    -webkit-animation: star-tail 10s ease-in-out infinite, star-shooting 10s ease-in-out infinite;
    animation: star-tail 10s ease-in-out infinite, star-shooting 10s ease-in-out infinite
}

.star:nth-child(1) {
    margin: 0 0 0 -40%;
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.star:nth-child(2) {
    margin: -400px 0 0 -10%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.star:nth-child(3) {
    margin: -200px 0 0 10%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.star:nth-child(4) {
    margin: 350px 0 0 -20%;
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}

.star:nth-child(5) {
    margin: 100px 0 0 20%;
    -webkit-animation-delay: 8s;
    animation-delay: 8s
}

@-webkit-keyframes star-tail {
    0% {
        width: 0
    }

    10% {
        width: 0
    }

    20% {
        width: 100px
    }

    100% {
        width: 0
    }
}

@-webkit-keyframes star-shooting {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0
    }

    10% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }

    20% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        opacity: 0
    }
}

@keyframes star-tail {
    0% {
        width: 0
    }

    10% {
        width: 0
    }

    20% {
        width: 100px
    }

    100% {
        width: 0
    }
}

@keyframes star-shooting {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0
    }

    10% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }

    20% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        opacity: 0
    }
}

.stars {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.stars i {
    position: absolute
}

.stars i:nth-child(1) {
    left: 10%;
    top: 10%
}

.stars i:nth-child(2) {
    left: 30%;
    top: 30%
}

.stars i:nth-child(3) {
    right: 16%;
    top: 35%
}

.stars i:nth-child(4) {
    right: 30%;
    top: 55%
}

.stars i:nth-child(5) {
    right: 44%;
    top: 15%
}

.stars i:nth-child(6) {
    right: 60%;
    top: 85%
}

.stars i:nth-child(7) {
    left: 20%;
    top: 70%
}

.stars i:nth-child(8) {
    left: 5%;
    top: 50%
}

.stars i:nth-child(9) {
    right: 24%;
    top: 6%
}

.stars i:nth-child(10) {
    right: 5%;
    top: 70%
}

.stars i:nth-child(11) {
    left: 38%;
    top: 12%
}

.stars i:nth-child(12) {
    right: 20%;
    top: 80%
}

.star-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #443a9a transparent transparent transparent
}

.star-square {
    width: 8px;
    height: 8px;
    background: #443a9a;
    transform: rotateZ(45deg)
}

.house-item-back,
.house-item-head,
.house-item-layer1,
.house-item-layer2,
.house-item-layer3,
.house-item-layer4,
.house-item-layer5,
.house-item-layer6,
.house-item-side {
    position: absolute;
    top: 110% !important;
    height: 2000px
}

.house-item-back i,
.house-item-head i,
.house-item-layer1 i,
.house-item-layer2 i,
.house-item-layer3 i,
.house-item-layer4 i,
.house-item-layer5 i,
.house-item-layer6 i,
.house-item-side i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat
}

.house-item-back,
.house-item-head,
.house-item-side {
    top: 100% !important
}

.house-back {
    left: 15%;
    width: 70%;
    margin-top: 80px
}

.house-back i {
    background-image: url(../img/house-back.svg)
}

@media screen and (max-width:750px) {
    .house-back {
        width: 80%;
        left: 10%
    }
}

.house-left,
.house-right {
    width: 50%;
    z-index: 10
}

.house-left {
    left: -32%;
    top: 200%
}

.house-left i {
    background-image: url(../img/house-dark-left.svg)
}

.house-right {
    right: -32%;
    top: 190%
}

.house-right i {
    background-image: url(../img/house-dark-right.svg)
}

.house-head {
    left: 50%;
    top: 100%;
    margin-left: -14%;
    width: 28%;
    margin-top: -100px
}

.house-head i {
    background-image: url(../img/house-type-0.svg)
}

@media screen and (max-width:750px) {
    .house-head {
        width: 40%;
        margin-left: -20%
    }
}

.house-tower-left-2 i,
.house-tower-right-1 i {
    background-image: url(../img/house-type-2.svg)
}

.house-tower-right-1 {
    right: 35.5%;
    width: 16%;
    margin-top: -80px
}

@media screen and (max-width:750px) {
    .house-tower-right-1 {
        right: 38%;
        width: 19%;
        margin-top: 0
    }
}

.house-tower-left-2 {
    left: 15%;
    width: 10%
}

@media screen and (max-width:750px) {
    .house-tower-left-2 {
        display: none
    }
}

.house-square-left-1 i,
.house-square-left-2 i,
.house-square-left-3 i,
.house-square-right-1 i {
    background-image: url(../img/house-type-1.svg)
}

.house-square-left-1 {
    left: 34%;
    width: 15%
}

.house-square-left-2 {
    left: 19%;
    width: 8%
}

@media screen and (max-width:750px) {
    .house-square-left-2 {
        display: none
    }
}

.house-square-right-1 {
    right: 15%;
    width: 15%
}

@media screen and (max-width:750px) {
    .house-square-right-1 {
        width: 26%
    }
}

.house-square-left-3 {
    left: 26%;
    width: 11%
}

@media screen and (max-width:750px) {
    .house-square-left-3 {
        left: 16%;
        width: 24%
    }
}

.house-rectangle-left-1 i,
.house-rectangle-right-1 i,
.house-rectangle-right-2 i {
    background-image: url(../img/house-type-3.svg)
}

.house-rectangle-left-1 {
    left: 24%;
    width: 12%
}

@media screen and (max-width:750px) {
    .house-rectangle-left-1 {
        left: 19%;
        width: 30%
    }
}

.house-rectangle-right-1 {
    right: 20%;
    width: 20%
}

@media screen and (max-width:750px) {
    .house-rectangle-right-1 {
        display: none
    }
}

.house-rectangle-right-2 {
    right: 51%;
    width: 10%
}

@media screen and (max-width:750px) {
    .house-rectangle-right-2 {
        display: none
    }
}

.house-smallsquare-left-2 i,
.house-smallsquare-left-3 i,
.house-smallsquare-right-1 i {
    background-image: url(../img/house-type-4.svg)
}

.house-smallsquare-left-2 {
    left: 26%;
    width: 4%
}

@media screen and (max-width:750px) {
    .house-smallsquare-left-2 {
        display: none
    }
}

.house-smallsquare-left-3 {
    left: 35%;
    width: 4%
}

@media screen and (max-width:750px) {
    .house-smallsquare-left-3 {
        display: none
    }
}

.house-smallsquare-right-1 {
    right: 28%;
    width: 8%;
    margin-top: 40px
}

@media screen and (max-width:750px) {
    .house-smallsquare-right-1 {
        display: none
    }
}

section {
    position: relative;
    margin: 0 auto 0;
    width: 100%;
    background: 0 0;
    z-index: 100
}

section:after,
section:before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: -5px;
    width: 100%;
    height: 10px;
    background: #020716;
    z-index: 40
}

section:before {
    top: 200px
}

section:after {
    top: 100%
}

@media screen and (max-width:1000px) {
    section:before {
        top: 100px
    }
}

.room-top {
    position: absolute;
    left: 0;
    bottom: 100%;
    margin-bottom: -30px;
    width: 100%;
    height: auto
}

.section {
    margin: 0 auto 0;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.section-hr {
    display: block;
    width: 100%;
    height: 200px;
    background: #020716
}

@media screen and (max-width:1000px) {
    .section-hr {
        height: 100px
    }
}

.section-content {
    position: relative;
    width: 100%;
    padding-bottom: 73%;
    overflow: hidden
}

.section-content:after,
.section-content:before {
    content: '';
    position: absolute;
    top: 0;
    width: 2000px;
    height: 100%;
    background: #020716
}

.section-content:before {
    right: 90%
}

.section-content:after {
    left: 90%
}

@media screen and (max-width:640px) {
    .section-content {
        padding-bottom: 80%
    }

    .section-content:before {
        right: 96%
    }

    .section-content:after {
        left: 96%
    }
}

@media screen and (max-width:580px) {
    .section-content {
        padding-bottom: 88%
    }

    .section-content:before {
        right: 99%
    }

    .section-content:after {
        left: 99%
    }
}

.room-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

@media screen and (max-width:640px) {
    .room-content {
        left: auto;
        right: -10%;
        width: 120%;
        height: auto
    }
}

@media screen and (max-width:580px) {
    .room-content {
        right: -20%;
        width: 140%;
        height: auto
    }
}

article {
    position: relative;
    width: 100%;
    height: auto;
    background: #020716;
    z-index: 10
}

.section-coder {
    position: relative;
    width: 100%;
    background: url(../img/article-bg.jpg) center 0 no-repeat #020716;
    background-size: cover;
    z-index: 10
}

.section-coder:after {
    content: "";
    display: table;
    clear: both
}

.article-about,
.article-follow,
.article-works {
    padding: 200px 0;
    background: 0 0
}

.article-about h1,
.article-follow h1,
.article-works h1 {
    position: relative;
    float: left;
    width: 520px;
    font-family: trumpgothicpro, Oswald, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 80px;
    font-size: 8rem;
    line-height: 70px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0
}

.article-about h1:after,
.article-follow h1:after,
.article-works h1:after {
    position: absolute;
    left: 0;
    top: -120px;
    font-family: Oswald, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 30px;
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
    color: #7d869e;
    opacity: .2;
    letter-spacing: 2px
}

.article-about h1 strong,
.article-follow h1 strong,
.article-works h1 strong {
    font-family: trumpgothicpro, Oswald, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    color: #6488dc;
    letter-spacing: 0
}

.article-about p,
.article-follow p,
.article-works p {
    margin: 0 0 30px 0;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.6em;
    font-weight: 200;
    color: #fff;
    letter-spacing: 1px
}

.article-about p a,
.article-follow p a,
.article-works p a {
    color: #6488dc;
    font-weight: 500;
    letter-spacing: .5px
}

.article-about p a:hover,
.article-follow p a:hover,
.article-works p a:hover {
    color: #fff
}

.article-about p strong,
.article-follow p strong,
.article-works p strong {
    font-weight: 500;
    letter-spacing: .5px
}

.article-about p small,
.article-follow p small,
.article-works p small {
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1
}

.article-about .desc,
.article-follow .desc,
.article-works .desc {
    width: auto;
    margin-left: 520px
}

@media screen and (max-width:1250px) {

    .article-about h1,
    .article-follow h1,
    .article-works h1 {
        width: 440px;
        font-size: 60px;
        font-size: 6rem;
        line-height: 50px
    }

    .article-about .desc,
    .article-follow .desc,
    .article-works .desc {
        margin-left: 440px
    }
}

@media screen and (max-width:1150px) {

    .article-about h1,
    .article-follow h1,
    .article-works h1 {
        width: 380px
    }

    .article-about .desc,
    .article-follow .desc,
    .article-works .desc {
        margin-left: 380px
    }
}

@media screen and (max-width:1080px) {

    .article-about,
    .article-follow,
    .article-works {
        padding: 100px 0
    }

    .article-about h1,
    .article-follow h1,
    .article-works h1 {
        width: 300px;
        font-size: 50px;
        font-size: 5rem;
        line-height: 40px
    }

    .article-about h1:after,
    .article-follow h1:after,
    .article-works h1:after {
        top: -80px;
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1;
        letter-spacing: 1px
    }

    .article-about .desc,
    .article-follow .desc,
    .article-works .desc {
        margin-left: 300px
    }
}

@media screen and (max-width:860px) {

    .article-about,
    .article-follow,
    .article-works {
        padding: 60px 0
    }

    .article-about h1:after,
    .article-follow h1:after,
    .article-works h1:after {
        top: -40px;
        font-size: 20px;
        font-size: 2rem;
        line-height: 1;
        letter-spacing: 1px
    }

    .article-about p,
    .article-follow p,
    .article-works p {
        margin: 0 0 24px 0;
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.6em
    }

    .article-about p small,
    .article-follow p small,
    .article-works p small {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1
    }
}

@media screen and (max-width:840px) {

    .article-about h1,
    .article-follow h1,
    .article-works h1 {
        width: 240px
    }

    .article-about .desc,
    .article-follow .desc,
    .article-works .desc {
        margin-left: 240px
    }
}

@media screen and (max-width:750px) {

    .article-about h1,
    .article-follow h1,
    .article-works h1 {
        float: none;
        margin: 0 0 30px 0;
        width: 100%
    }

    .article-about .desc,
    .article-follow .desc,
    .article-works .desc {
        margin-left: 0;
        width: 100%
    }
}

.article-about {
    padding-top: 350px
}

@media screen and (max-width:1080px) {
    .article-about {
        padding-top: 200px
    }
}

@media screen and (max-width:900px) {
    .article-about {
        padding-top: 100px
    }
}

.article-about h1:after {
    content: '01'
}

.article-about .desc {
    position: relative;
    top: -8px
}

.article-works h1:after {
    content: '02'
}

@media screen and (max-width:840px) {
    .article-works h1 strong {
        display: block
    }
}

@media screen and (max-width:750px) {
    .article-works h1 strong {
        display: inline
    }
}

.article-follow h1:after {
    content: '03'
}

.works-list {
    width: 100%;
    border: 2px solid #020716
}

@media screen and (max-width:750px) {
    .works-list {
        width: auto;
        margin: 0 -5px
    }
}

.works-list:hover a {
    opacity: .2
}

.works-list a {
    position: relative;
    display: block;
    width: 100%;
    background: #020716;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.works-list a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #020716
}

.works-list a:hover {
    opacity: 1
}

.works-list a:hover i {
    opacity: 1
}

.works-list a:hover .img-2 {
    -webkit-animation: glitch-work 4s cubic-bezier(0, .82, 1, .42) both;
    animation: glitch-work 4s cubic-bezier(0, .82, 1, .42) both
}

.works-list a:hover .img-3 {
    -webkit-animation: glitch-work 3s cubic-bezier(0, .82, 1, .42) reverse both;
    animation: glitch-work 3s cubic-bezier(0, .82, 1, .42) reverse both
}

.works-list a:hover strong {
    color: #060b1a;
    background: #fff;
    -webkit-animation: socialimg .5s ease-in-out;
    animation: socialimg .5s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1
}

.works-list .item-half {
    padding-bottom: 100%
}

.works-list .item-col-full {
    padding-bottom: 200%
}

.works-list .item-full {
    padding-bottom: 49%
}

.works-list i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .5
}

.works-list .img-1 {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.works-list .img-2 {
    -webkit-filter: hue-rotate(60deg) saturate(4);
    filter: hue-rotate(60deg) saturate(4);
    opacity: 0
}

.works-list .img-3 {
    -webkit-filter: hue-rotate(180deg) saturate(4);
    filter: hue-rotate(180deg) saturate(4);
    opacity: 0
}

.works-list .img-3-blue {
    -webkit-filter: hue-rotate(270deg) saturate(4);
    filter: hue-rotate(270deg) saturate(4)
}

.works-list h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 20px 28px 30px;
    width: 100%;
    font-size: 46px;
    font-size: 4.6rem;
    line-height: 44px;
    font-family: trumpgothicpro, Oswald, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 4
}

@media screen and (max-width:1080px) {
    .works-list h2 {
        font-size: 36px;
        font-size: 3.6rem;
        line-height: 34px
    }
}

@media screen and (max-width:900px) {
    .works-list h2 {
        padding: 0 14px 20px 20px;
        font-size: 30px;
        font-size: 3rem;
        line-height: 28px
    }
}

@media screen and (max-width:460px) {
    .works-list h2 {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 20px
    }
}

@media screen and (max-width:370px) {
    .works-list h2 {
        font-size: 20px;
        font-size: 2rem;
        line-height: 20px
    }
}

.works-list strong {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0 6px;
    height: 24px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    z-index: 4;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media screen and (max-width:900px) {
    .works-list strong {
        top: 16px;
        padding: 0 4px;
        height: 20px;
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 20px
    }
}

.works-row:after {
    content: "";
    display: table;
    clear: both
}

.work-col {
    float: left;
    width: 50%
}

.work-col-half {
    width: 100%
}

.work-col-half:after {
    content: "";
    display: table;
    clear: both
}

.work-item-chcigril .img-1,
.work-item-chcigril .img-2,
.work-item-chcigril .img-3 {
    background-image: url(../img/zstore.png)
}

.work-item-automobilist .img-1,
.work-item-automobilist .img-2,
.work-item-automobilist .img-3 {
    background-image: url(../img/rajakuliner.png)
}

.work-item-kylo-ren .img-1,
.work-item-kylo-ren .img-2,
.work-item-kylo-ren .img-3 {
    background-image: url(../img/santuy.png)
}

.work-item-nintendo .img-1,
.work-item-nintendo .img-2,
.work-item-nintendo .img-3 {
    background-image: url(../img/animedb.png)
}

.work-item-karasek .img-1,
.work-item-karasek .img-2,
.work-item-karasek .img-3 {
    background-image: url(../img/works-karasek.jpg)
}

.work-item-cogvio .img-1,
.work-item-cogvio .img-2,
.work-item-cogvio .img-3 {
    background-image: url(../img/works-cogvio.jpg)
}

@-webkit-keyframes glitch-work {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    18% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    20% {
        -webkit-transform: translate(-2%, 2%) scale(1.04);
        transform: translate(-2%, 2%) scale(1.04);
        opacity: .4
    }

    22% {
        -webkit-transform: translate(-2%, -4%) scale(1.04);
        transform: translate(-2%, -4%) scale(1.04);
        opacity: 0
    }

    55% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: .4
    }

    60% {
        -webkit-transform: translate(-3%, 2%) scale(1.08);
        transform: translate(-3%, 2%) scale(1.08);
        opacity: .8
    }

    64% {
        -webkit-transform: translate(2%, -3%) scale(1.08);
        transform: translate(2%, -3%) scale(1.08);
        opacity: .4
    }

    70% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }
}

@keyframes glitch-work {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    18% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    20% {
        -webkit-transform: translate(-2%, 2%) scale(1.04);
        transform: translate(-2%, 2%) scale(1.04);
        opacity: .4
    }

    22% {
        -webkit-transform: translate(-2%, -4%) scale(1.04);
        transform: translate(-2%, -4%) scale(1.04);
        opacity: 0
    }

    55% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: .4
    }

    60% {
        -webkit-transform: translate(-3%, 2%) scale(1.08);
        transform: translate(-3%, 2%) scale(1.08);
        opacity: .8
    }

    64% {
        -webkit-transform: translate(2%, -3%) scale(1.08);
        transform: translate(2%, -3%) scale(1.08);
        opacity: .4
    }

    70% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0
    }
}

.social-list {
    position: relative;
    top: 5px;
    height: 70px
}

.social-list ul {
    position: relative;
    width: 400px;
    height: 70px;
    list-style: none;
    z-index: 5
}

.social-list ul:after {
    content: "";
    display: table;
    clear: both
}

.social-list li {
    float: left;
    padding: 0 10px 0 0;
    height: 70px
}

.social-list li a {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid #424069;
    text-indent: -9999px;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.social-list li a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 0
}

.social-list li a:after {
    content: '';
    position: absolute;
    left: 150%;
    top: 0;
    width: 150%;
    height: 100%;
    background: #fff;
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    opacity: .15;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.social-list li a:hover {
    border-color: #fff
}

.social-list li a:hover:before {
    -webkit-animation: socialimg .5s ease-in-out;
    animation: socialimg .5s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1
}

.social-list li a:hover:after {
    -webkit-animation: socialoverlay .7s ease-in-out;
    animation: socialoverlay .7s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1
}

.social-list .tw:before {
    background-image: url(../img/social-ico-tw.svg)
}

.social-list .fb:before {
    background-image: url(../img/social-ico-fb.svg)
}

.social-list .code:before {
    background-image: url(../img/social-ico-codepen.svg)
}

.social-list .twitch:before {
    background-image: url(../img/social-ico-twitch.svg)
}

.social-list .linked:before {
    background-image: url(../img/social-ico-linked.svg)
}

.social-list .item-email {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 400px;
    width: 100%;
    height: 70px
}

.social-list .item-email a {
    display: block;
    width: 100%;
    height: 70px;
    border: 1px solid #fff;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 68px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .6px
}

.social-list .item-email a:hover {
    border-color: #4ff7b2
}

@media screen and (max-width:1250px) {
    .social-list {
        top: -5px
    }
}

@media screen and (max-width:1080px) {
    .social-list {
        top: -10px
    }
}

@media screen and (max-width:1000px) {
    .social-list {
        top: 0;
        height: 50px
    }

    .social-list ul {
        width: 300px;
        height: 50px
    }

    .social-list li {
        height: 50px
    }

    .social-list li a {
        width: 50px;
        height: 50px
    }

    .social-list .item-email {
        padding-left: 300px;
        width: 100%;
        height: 50px
    }

    .social-list .item-email a {
        width: 100%;
        height: 50px;
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 48px
    }
}

@media screen and (max-width:500px) {
    .social-list ul {
        margin: 0 -5px;
        width: auto;
        height: auto
    }

    .social-list li {
        margin: 0 0 10px 0;
        padding: 0 5px;
        width: 20%;
        height: auto
    }

    .social-list li a {
        width: 100%;
        padding-bottom: 80%;
        height: auto
    }

    .social-list .item-email {
        position: relative;
        padding-left: 0;
        width: 100%;
        height: 70px
    }

    .social-list .item-email a {
        height: 70px;
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 68px
    }
}

@media screen and (max-width:370px) {
    .social-list ul {
        margin: 0 -5px;
        width: auto;
        height: auto
    }

    .social-list li {
        margin: 0 0 10px 0;
        padding: 0 5px;
        width: 20%;
        height: auto
    }

    .social-list li a {
        width: 100%;
        padding-bottom: 80%;
        height: auto
    }

    .social-list .item-email {
        width: 100%;
        height: 50px
    }

    .social-list .item-email a {
        height: 50px;
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 48px
    }
}

@-webkit-keyframes socialimg {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    70% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }

    90% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes socialoverlay {
    0% {
        left: 150%
    }

    40% {
        left: -20%
    }

    60% {
        left: -20%
    }

    100% {
        left: -170%
    }
}

@keyframes socialimg {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    70% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }

    90% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes socialoverlay {
    0% {
        left: 150%
    }

    40% {
        left: -20%
    }

    60% {
        left: -20%
    }

    100% {
        left: -170%
    }
}

footer {
    position: relative;
    padding: 150px 0 250px 0;
    background: url(../img/footer-bg.png) center 0 no-repeat;
    background-size: cover;
    z-index: 10
}

footer .item-left {
    float: left;
    width: 30%
}

footer .item-right {
    float: right;
    width: 70%;
    text-align: right
}

footer i {
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0 4px;
    width: 16px;
    height: 15px;
    background: url(../img/l.svg) center center no-repeat;
    vertical-align: middle
}

footer p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 200;
    color: #8178b9;
    text-transform: uppercase;
    letter-spacing: .5px
}

footer p a {
    margin: 0 0 0 6px;
    font-weight: 500;
    color: #8178b9
}

footer p a:hover {
    color: #fff
}

footer p .hr {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 24px;
    vertical-align: top
}

@media screen and (max-width:1080px) {
    footer {
        padding: 100px 0
    }
}

@media screen and (max-width:750px) {

    footer .item-left,
    footer .item-right {
        float: none;
        width: 100%;
        text-align: center
    }
}

.mobile-fix {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background: #020716;
    z-index: 8
}

.add-mobile-fix .mobile-fix {
    display: block
}